[Unit]
Description=Discord Bot Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/discord_bot
ExecStartPre=/bin/bash -c 'sudo mkdir -p /var/log/discord'
ExecStart=/bin/bash -c 'exec /opt/discord_bot/venv/bin/python -u /opt/discord_bot/main.py >> /var/log/discord/discord_$(date +%%Y%%m%%d%%H).log 2>&1'
Environment="DISCORD_TOKEN={{ discord_token }}"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
