[Unit]
Description=Discord Bot Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/discord_bot
ExecStart=/opt/discord_bot/venv/bin/python -u /opt/discord_bot/main.py >> /var/log/discord/discord_time.log 2>&1
Environment="DISCORD_TOKEN={{ discord_token }}"
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
