[Unit]
Description=V Rising Dedicated Server
After=network.target

[Service]
Type=simple
User={{ pillar['vrising']['user'] }}
Group={{ pillar['vrising']['user'] }}
WorkingDirectory={{ pillar['vrising']['install_dir'] }}
ExecStart={{ pillar['vrising']['install_dir'] }}/start_vrising.sh
Restart=on-failure
Environment=XDG_RUNTIME_DIR={{ pillar['vrising']['xdg_runtime'] }}
Environment=WINEARCH=win64
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target